/* HTML elements  */

body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(250, 247, 249);
    color: 333333;
}

.heroimage {
    width: 100%;
    height: auto;
    opacity: 100;
    position: relative;
    z-index: -2;
}

.text {
    position: absolute;
    top: 4vw;
    left: 7vw;
    color: rgb(17, 17, 18);
}

h1 {
    font-size: 7vw;
}

h2 {
    /* align: center; */
    font-size: 4vw;
    margin-block-start: 0.50em;
    margin-block-end: 0.30em;
}

h3 {
    font-size: 4vw;
}

h5 {
    font-size: 1vw;
    color: #366EFF;
}

h6 {
    font-size: 1vw;
    color: #366EFF;
}

nav {
    padding: 1vw;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
}

a {
    margin-left: 4vw;
}

p {
    font-size: 1vw;
    margin-block-start: 0.5em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* Classes and document elements  */

.image {
    width: 100%;
    height: auto;
    opacity: 100;
}


/* .work-container {
    /* margin-left: 165px;
    margin-right: 100px; */


/* text-align: center;
    display: flex;
    align-items: left;
    
}  */

.section-name {
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 8vw;
    margin-left: 7vw;
}

.WaveImage {
    width: 50%;
    float: right;
    display: flex;
}

.button {
    background-color: #366EFF;
    border-radius: 1vw;
    border: none;
    color: white;
    padding: 2vw 4vw;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    font-size: 1vw;
    /* padding: 2vw 2vw; */
    /* margin: 4px 2px; */
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.grid-container {
    display: grid;
    grid-template-areas: "grid-item1" "grid-item2" "grid-item3" "grid-item4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: span 2;
    align-content: center;
    justify-content: flex-start;
    /* grid-gap: 10px;
    padding: 10px; */
    margin-bottom: 10vw;
    vertical-align: middle;
    margin-left: 7vw;
    margin-right: 5vw;
}

.responsive {
    width: 100%;
    height: auto;
    opacity: 100;
    /* top: -40vw; */
    z-index: -1;
}

.backgroundimage {
    width: 100%;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
}

#aboutme {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 10vw;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 10vw;
    vertical-align: middle;
    margin-left: 7vw;
    margin-right: 5vw;
}

.paragraph {
    font: 5vw;
    white-space: wrap;
    line-height: 1.8;
    margin-bottom: 3vw;
}

.right {
    margin-left: 10vw;
}


/* #footer_gradiant {
    background-image: url(..images/footer3.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: auto;
    opacity: 100;
    bottom: 0;
    left: 0;
    z-index: -5;
} */

#container {
    display: flex;
    opacity: 100;
    bottom: 0;
    left: 0;
    z-index: -5;
}

.item1 {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 3vw;
    left: 4vw;
}

.flex-container {
    display: flex;
    background-color: rgba(30, 143, 255, 0);
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    bottom: 15vw;
    left: 45vw;
}

.flex-container>div {
    background-color: #f1f1f100;
    margin: 10px;
    text-align: left;
    line-height: 75px;
    font-size: 1.75vw;
}

@media screen and (max-width: 700px) {
    #box {
        width: 50%;
    }
    .grid_item {
        width: 50%;
    }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-left: 10vw;
        align-items: center;
        margin-right: 10vw;
    }
    .heroimage {
        width: 100%;
        height: auto;
        opacity: 100;
        position: relative;
        z-index: -2;
    }
    .image {
        width: 100%;
        height: auto;
        opacity: 100;
    }
    .responsive {
        width: 100%;
        height: auto;
    }
    .text {
        position: absolute;
        top: 10px;
        left: 30px;
        color: rgb(17, 17, 18);
    }
    #aboutme {
        display: grid;
        grid-template-columns: auto;
        align-content: center;
        justify-content: flex-start;
        margin-bottom: 10vw;
        vertical-align: middle;
        margin-left: 7vw;
        margin-right: 5vw;
    }
    .container {
        width: 100%;
        height: auto;
        opacity: 100;
        bottom: 0;
        left: 0;
        z-index: -5;
    }
}