  /* HTML elements  */
  
  body {
      font-family: 'Montserrat', sans-serif;
      background: rgb(250, 247, 249);
  }
  
  .heroimage {
      width: 100%;
      height: auto;
      opacity: 100;
      position: relative;
      z-index: -2;
  }
  
  .text {
      position: absolute;
      top: 4vw;
      left: 7vw;
      color: rgb(17, 17, 18);
  }
  
  h1 {
      font-size: 7vw;
  }
  
  h2 {
      /* align: center; */
      font-size: 4vw;
      margin-block-start: 0.50em;
      margin-block-end: 0.30em;
  }
  
  h3 {
      font-size: 4vw;
  }
  
  h5 {
      font-size: 1vw;
      color: #366EFF;
  }
  
  h6 {
      font-size: 1vw;
      color: #366EFF;
  }
  
  nav {
      padding: 1vw;
      background-color: white;
      position: sticky;
      top: 0;
      width: 100%;
  }
  
  a {
      margin-left: 4vw;
  }
  
  p {
      font-size: 1vw;
      margin-block-start: 0.5em;
      margin-block-end: 2em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }
  /* Classes and document elements  */
  
  .image {
      width: 100%;
      height: auto;
      opacity: 100;
  }
  /* .work-container {
    /* margin-left: 165px;
    margin-right: 100px; */
  /* text-align: center;
    display: flex;
    align-items: left;
    
}  */
  
  .section-name {
      text-align: center;
      display: flex;
      align-items: center;
      margin-bottom: 8vw;
      margin-left: 7vw;
  }
  
  .WaveImage {
      width: 50%;
      float: right;
      display: flex;
  }
  
  .button {
      background-color: #366EFF;
      border-radius: 1vw;
      border: none;
      color: white;
      padding: 2vw 4vw;
      /* padding: 15px 32px; */
      text-align: center;
      text-decoration: none;
      display: inline-block;
      /* font-size: 16px; */
      font-size: 1vw;
      /* padding: 2vw 2vw; */
      /* margin: 4px 2px; */
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
  }
  
  .button:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  .grid-container {
      display: grid;
      grid-template-areas: "grid-item1" "grid-item2" "grid-item3" "grid-item4";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-start: 1;
      grid-column-end: span 2;
      align-content: center;
      justify-content: flex-start;
      /* grid-gap: 10px;
    padding: 10px; */
      margin-bottom: 10vw;
      vertical-align: middle;
      margin-left: 7vw;
      margin-right: 5vw;
  }
  
  .responsive {
      width: 100%;
      height: auto;
      opacity: 100;
      /* top: -40vw; */
      z-index: -1;
  }
  
  .backgroundimage {
      width: 100%;
      height: auto;
  }
  
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
  
  .container {
      position: relative;
  }
  
  #aboutme {
      display: grid;
      grid-template-columns: 40% auto;
      grid-gap: 10vw;
      align-content: center;
      justify-content: flex-start;
      margin-bottom: 10vw;
      vertical-align: middle;
      margin-left: 7vw;
      margin-right: 5vw;
  }
  
  .paragraph {
      white-space: wrap;
      line-height: 1.8;
      margin-bottom: 3vw;
  }
  
  @media screen and (max-width: 700px) {
      #box {
          width: 50%;
      }
      .grid_item {
          width: 50%;
      }
      .grid-container {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          margin-left: 10vw;
          align-items: center;
          margin-right: 10vw;
      }
      .heroimage {
          width: 100%;
          height: auto;
          opacity: 100;
          position: relative;
          z-index: -2;
      }
      .image {
          width: 100%;
          height: auto;
          opacity: 100;
      }
      .responsive {
          width: 100%;
          height: auto;
      }
      .text {
          position: absolute;
          top: 10px;
          left: 30px;
          color: rgb(17, 17, 18);
      }
      .footer {
          left: 0;
          bottom: 0;
          height: auto;
          width: 100%;
          background-image: url(images/footer.png);
          text-align: center;
      }
      #imginthefooter {
          background-position: sticky;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 120vw;
          opacity: 100;
          /* top: -40vw; */
          z-index: -1;
      }
  }
  /* .toggleContainer {
    padding: 15px;
    display: none;
    transition: all 2s;
}

.hiddenSlide {
    display: none;
    min-height: 428px;
}

.containerHeight {
    min-height: 428px;
    background-color: black;
}

.active {
    display: block;
}

.w3-ul {
    cursor: pointer;
    transition-timing-function: ease;
} */
  /* #imginthefooter {
    background: no-repeat;
    position: absolute;
} */
  
  ​​​​​​​​​
  /* .grid-item {
    /* padding: 20px; */
  /* font-size: 30px; */
  /* text-align: left; */
  /* margin-left: 140px; */
  /* margin-left: 10vw; */
  /* } */
  /* margin-bottom: 20vh;
    margin-right: 10vh;
    margin-left: 15vh; */
  /* margin-bottom: 200px; */
  /* margin-right: 100px; */
  /* margin-left: 165px; */
  /* Trash below this point  */
  /* #hello-image {
     width: 30%;
     float: left;
     filter: drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.2));
 }
  */
  /* .container {
     position: relative;
 } */
  /* #box {
     position: relative;
     display: flex;
 } */
  /* TODO */
  /* * {
     box-sizing: border-box;
 } */
  /* .block {
     display: grid;
     grid-column-gap: 0px;
     grid-template-columns: auto auto;
     grid-template-rows: 1000px 1000px;
     grid-gap: 10px;
     padding: 10px;
     margin-right: 100px;
     align-content: space-evenly;
 } */
  /* .workgrid {
     display: grid;
     grid-template-rows: 50% 50%;
     grid-template-columns: 40% 60%;
     -ms-grid-column-align: center;
 } */
  /* #paloaltoblock {
     margin: 140px;
     width: 100%;
     padding: 30px;
 } */
  /* .workgrid {
     align-content: center;
 } */
  /* #CFGIblock {
     margin: 140px;
     width: 100%;
     padding: 30px;
 } */
  /* .landingpage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "hello hello-image" "leftSidebar rightContent rightContent";
    }
    
    .navigation {
        width: 100%;
        position: top left;

/* .landingpage {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        background-repeat: no-repeat;
        background-position: center;} */
  /* .text {
        align-content: flex-start;
        justify-content: flex-start;
        width: 30%;
        padding: 20px 40px;
        color: rgb(18, 16, 20);} */
  /* #backgroundimage {
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        margin-top: 50px;
        align-content: left;
        align-items: left;
        justify-content: left;
        z-index: -1;
    } */
  /* .left {
                float: left;
                text-align: left;
                margin-left: 140px;
                width: 800px;
                padding: 50px;
            }
            
            .right {
                float: right;
                margin-right: 350px;
                margin-left: 300px;
                width: auto;
                height: auto;
            }  */
  /* margin-top: 90px;
    margin-right: 100px;
    text-align: left;
    /* padding: 140px 90px; */
  /* .grid_item1 {
         display: inline-block;
         margin: 20px;
         padding: 20px;
         font-size: 30px;
         text-align: left;
         margin-left: 140px;
         width: 800px;
         padding: 50px;
            } */
  /* .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
        }

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
} */
  /* .button {
    background-color: #366EFF;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */
  /* .workgrid {
    grid-column-start: 1;
    grid-column-end: 3;
    align-content: center;
    display: grid;
    height: 400px;
    grid-template-rows: 30% 50%;
    grid-template-columns: 50% 70%;
}

.flexcontainer {
    display: grid;
    grid: 150px / auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.flexcontainer>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}


/* .flexContainer {
    margin: 0px 5%;
    display: grid;
    height: 100vh;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 70%;
    grid-template-areas: "paloaltogrid CFGI";
} */
  /* #paloaltogrid {
    box-sizing: content-box;
    width: 500px;
    height: 500px;
    padding: 30px;
    text-align: left;
}


/* .flexContainer {
    display: flex;
    height: 400px;
    margin: 10px;
    padding: 10px;
} */
  /* .column {
    /* grid-area: scale;
justify-content: center;
display: grid;
align-items: center; */
  /* float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    text-align: left;
    margin-left: 140px;
    width: 800px;
    padding: 50px;
} */